body {
    background-color: #F59924;
    font-family: 'Gloria Hallelujah', cursive;
    color: black;
}
.header {
    display : flex;
   flex-direction: row;
   width : 100%;
   height: 100px;
   margin-top: 10px;
}

.old {
width: 50%;
height: 800px;
display: flex;
flex-direction: column;
position: absolute;
left: 100px;
top: 150px;
background-color: blue;
}

.accueil, .profil, .sujets, .contacts {
    color: blue;
    width: 25%;
    height: 100%;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  font-family: 'Gloria Hallelujah', cursive;
  transform: scale(1);

}

.accueil, .profil, .sujets, .contacts :active {
 transform: scale(0.97);
transition: transform .2s;
}

.titre {
    height: 10%;
    width: 100%;
    border: 1px ridge black;
    
}

.nom {
    height: 10%;
    width: 100%;
    border: 1px ridge black;
}

.question {
    height: 10%;
    width: 100%;
    border: 1px ridge black;
}

.OldComment {
height: 70%;
width: 100%;
border: 1px ridge black;
}

.commentaires {
width: 30%;
height: 500px;
display: flex;
flex-direction: column;
position: absolute;
right: 100px;
bottom: 150px;
border: ridge 1px black;
}

.pseudo {
height: 10%;
width: 100%;
border: 1px ridge black;


}